<div class="sidebar-box">
  <h3 style="color:#3f52e3 ;">Recent Blogs</h3>
  <img src="/blog_images/<%= blogss[0]._id %>/<%= blogss[0].image %>"width="120" height="120" media="(max-width: 600px)" class="myfriend2">
  <h4 class="myfriend"><a href="#" class="myfriend" style="color:#3f52e3;"><%= blogss[0].title %></a></h4>
  <div class="myfriend1"><a href="#" style="color:#3f52e3;"><span class="icon-calendar"media="(max-width: 600px)">&nbsp;</span><%= blogss[0].date %></a></div>
</div>
<br>
<div class="sidebar-box">
  <img src="/blog_images/<%= blogss[0]._id %>/<%= blogss[0].image %>"width="120" height="120" media="(max-width: 600px)" class="myfriend2">
  <h4 class="myfriend"><a href="#" class="myfriend" style="color:#3f52e3;"><%= blogss[0].title %></a></h4>
  <div class="myfriend1"><a href="#" style="color:#3f52e3;"><span class="icon-calendar"media="(max-width: 600px)">&nbsp;</span><%= blogss[0].date %></a></div>
</div>
<br>
<!-- <img src="/blog_images/<%= blogss[1]._id %>/<%= blogss[1].image %>" width="120" height="120" class="myfriend2">
<h4 class="myfriend"><a href="#" class="myfriend" style="color:#3f52e3;"><%= blogss[1].title %></a></h4>
<div class="myfriend1"><a href="#" style="color:#3f52e3;"><span class="icon-calendar"></span>&nbsp;<%= blogss[1].date %></a></div>
<br>
<img src="/blog_images/<%= blogss[2]._id %>/<%= blogss[2].image %>" width="120" height="120" class="myfriend2">
<h4 class="myfriend"><a href="#" class="myfriend" style="color:#3f52e3;"><%= blogss[2].title %></a></h4>
<div class="myfriend1"><a href="#" style="color:#3f52e3;"><span class="icon-calendar"></span>&nbsp;<%= blogss[2].date %></a></div>
<br> -->